* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapCount{
    position: absolute;
    bottom:16%;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    display: flex;
    justify-content: space-between;
}
.time{
    font-family: 'Exo 2', sans-serif;
    color:#fff;
    font-size: 30px;
}

